input {
    padding: 8px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    outline: none;

    &:focus {
      outline: none;
      border-color: #aba4cc;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
  }
  